{#
/**
 * @file
 * Default theme implementation for a 'toggle_switch' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_toggle_switch()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ children }}
  <a{{ toggle_on__attributes }}>&nbsp;</a>
</div>
